<footer class="footer">
	<div class='footer__container container'>
		<div class="footer__menu menu-footer">
			<nav class="menu-footer__body">
				<ul class="menu-footer__list">
					<li><a href="#page__about" class="menu-footer__link gotoblock">O NÁS </a></li>
					<li><a href="#page__price" class="menu-footer__link gotoblock">NAŠE BALÍČKY</a></li>
					<li><a href="#page__step" class="menu-footer__link gotoblock">AKO TO FUNGUJE?</a></li>
					<li><a href="#page__feedback" class="menu-footer__link gotoblock">ŠTASTNÉ KLIENTI</a></li>
					<li><a href="#page__subscribe" class="menu-footer__link gotoblock">KONTAKT</a></li>
				</ul>
			</nav>
		</div>
		<div class="footer__phone">
			<a href="tel: +380931234455" class="footer__tel">+380931234455
			</a>
		</div>
		<!-- <div class="footer__social social">
			<ul class="social__list">
				<li><a href="" class="social__link"><img src="img/icon/soc_1.png" alt=""></a></li>
				<li><a href="" class="social__link"><img src="img/icon/soc_2.png" alt=""></a></li>
				<li><a href="" class="social__link"><img src="img/icon/soc_3.png" alt=""></a></li>
				<li><a href="" class="social__link"><img src="img/icon/soc_4.png" alt=""></a></li>
			</ul>
		</div> -->
	</div>
</footer>
