<header class="header">
	<div class="header__container container">
		<div class="header__row">
			<div class="header__column">
				<a href="" class="header__logo"><img src="img/logo.png" alt=""></a>
			</div>
			<div class="header__column">
				<div class="header__phone phone">
					<span class="phone__text">Zavolaj teraz:</span>
					<a href="tel:+421950872562" class="phone__tel">+421950872562</a>
				</div>
			</div>
			<div class="header__column">
				<div class="header__menu menu">
					<div class="menu__icon icon-menu">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<nav class="menu__body">
						<ul class="menu__list">
							<li><a href="#page__about" class="menu__link gotoblock">O NÁS</a></li>
							<li><a href="#page__price" class="menu__link gotoblock">NAŠE BALÍČKY</a></li>
							<li><a href="#page__step" class="menu__link gotoblock">AKO TO FUNGUJE?</a></li>
							<li><a href="#page__feedback" class="menu__link gotoblock">ŠTASTNÉ KLIENTI</a></li>
							<li><a href="#page__subscribe" class="menu__link gotoblock">KONTAKT</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
