//====================================================================================================
.footer {
	// .footer__container
	&__container {
		padding: 30px 0px 30px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		&:before {
			content: "";
			width: 100%;
			height: 1px;
			background-color: #e3e7ec;
			position: absolute;
			top: 0;
			left: 0;
		}
		@media (max-width: $md3+px) {
			padding: 40px 0px 30px 0px;
		}
	}
	// .footer__menu
	&__menu {
		margin: 0px 0px 29px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 15px 0px;
		}
	}
	// .footer__phone
	&__phone {
	}
	// .footer__tel
	&__tel {
		display: inline-block;
		/* Style for "+987 9976" */
		color: #394b50;
		font-family: Lato;
		font-size: 23px;
		padding: 0px 0px 0px 25px;
		position: relative;
		&:before {
			content: "";
			background: url("../img/icon/phone.png") 0 0 no-repeat;
			position: absolute;
			top: 3px;
			left: 0;
			width: 16px;
			height: 17px;
		}
	}
	// .footer__social
	&__social {
	}
}

.menu-footer {
	// .menu-footer__body
	&__body {
	}
	// .menu-footer__list
	&__list {
		display: flex;
		justify-content: center;
		li {
			margin: 0px 38px 0px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
			@media (max-width: $md3+px) {
				margin: 0px 25px 0px 0px;
				&:last-child {
					margin: 0px 0px 0px 0px;
				}
			}
		}
		@media (max-width: 630px) {
			flex-direction: column;
			align-items: center;
			li {
				margin: 0px 0px 15px 0px;
				&:last-child {
					margin: 0px 0px 0px 0px;
				}
			}
		}
	}
	// .menu-footer__link
	&__link {
		/* Style for "Home" */
		color: #394b50;
		font-family: Lato;
		font-size: 13px;
		text-transform: uppercase;
		white-space: nowrap;
		@media (max-width: $md3+px) {
			font-size: 10px;
		}
		&:hover {
			text-shadow: 0 0 3px #394b50;
		}
	}
}
.social {
	// .social__list
	&__list {
		display: flex;
		li {
			margin: 0px 20px 0px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
	}
	// .social__link
	&__link {
	}
}

//====================================================================================================
