//====================================================================================================
.header {
	position: fixed;
	width: 100%;
	z-index: 50;
	padding: 10px 0px;
	&:before {
		content: "";
		width: 500%;
		height: 100%;
		background-color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
	}
	// .header__row
	&__row {
		height: 100%;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .header__column
	&__column {
	}
	// .header__logo
	&__logo {
		display: inline-block;
		position: relative;
		z-index: 5;
		height: 80px;
		padding: 0px 10px;
		img {
			max-height: 100%;
		}
		@media (max-width: $md3+px) {
			height: 50px;
		}
	}
	// .header__phone
	&__phone {
	}
	&__menu {
	}
}

.phone {
	color: #868686;
	font-family: Lato;
	font-size: 14px;
	position: relative;
	z-index: 3;
	text-align: center;
	@media (max-width: $md1+px) {
		font-size: 10px;
	}
	@media (max-width: 500px) {
		display: flex;
		flex-direction: column;
	}
	// .phone__text
	&__text {
		margin: 0px 10px 0px 0px;
		@media (max-width: 500px) {
			margin: 0px 0px 7px 0px;
		}
	}
	// .phone__tel
	&__tel {
		color: #868686;
		font-size: 20px;
		font-family: Lato;
		letter-spacing: 1.5px;
		font-weight: 700;
		@media (max-width: $md1+px) {
			font-size: 14px;
		}
	}
}

.menu {
	// .menu__icon
	&__icon {
		display: none;
		@media (max-width: $md3+px) {
			display: block;
			position: relative;
			width: 30px;
			height: 18px;
			cursor: pointer;
			z-index: 5;
			span {
				@include anim(0.3s, 0s);
				top: 8px;
				left: 0px;
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: #868686;
				&:first-child {
					top: 0px;
				}
				&:last-child {
					top: auto;
					bottom: 0px;
				}
			}
			&.active {
				span {
					@include scale(0);
					&:first-child {
						@include rotate(-45deg);
						top: 8px;
					}
					&:last-child {
						@include rotate(45deg);
						bottom: 8px;
					}
				}
			}
		}
	}
	// .menu__body
	&__body {
		@media (max-width: $md3+px) {
			display: block;
			width: 100%;
			height: 100%;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			overflow: auto;
			background-color: #e7edf3;
			padding: 35px 0px 40px 0px;
			transform: translate(0px, -100%);
			transition: all 0.3s ease 0s;
			&.active {
				transform: translate(0px, 0px);
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		position: relative;
		z-index: 5;
		@media (max-width: $md3+px) {
			flex-direction: column;
			align-items: center;
			padding-top: 100px;
			li {
				margin: 0px 0px 30px 0px;
				&:last-child {
					margin: 0px 0px 0px 0px;
				}
			}
		}
	}
	&__link {
		display: inline-block;
		color: #868686;
		font-family: Lato;
		font-size: 14px;
		text-transform: uppercase;
		white-space: nowrap;
		padding: 0px 21px;
		line-height: 30px;
		transition: all 0.3s ease 0s;
		@media (max-width: $md2+px) {
			font-size: 12px;
			padding: 0px 10px;
		}
		@media (max-width: $md3+px) {
			color: #868686;
			font-size: 30px;
			letter-spacing: 1.5px;
		}
		&:hover {
			background-color: #ffbb42;
			color: #fff;
		}
		&.active {
			outline: 1px solid #ffbb42;
		}
	}
}

//====================================================================================================

/*
	.header-menu__icon{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
