//====================================================================================================

.page {
	margin: 93px 0px 0px 0px;
	@media (max-width: $md3+px) {
		margin: 75px 0px 0px 0px;
	}
	// .page__main
	&__main {
		margin: 0px 0px 100px 0px;
		@media (max-width: $md4+px) {
			margin: 0px 0px 65px 0px;
		}
	}
	// .page__service
	&__service {
		margin: 0px 0px 75px 0px;
	}
	// .page__about
	&__about {
	}
	// .page__price
	&__price {
	}
	// .page__step
	&__step {
	}
	// .page__feedback
	&__feedback {
	}
	// .page__subscribe
	&__subscribe {
	}
}
.main {
	position: relative;

	// .main__container
	&__container {
	}
	// .main__body
	&__body {
		&:before {
			content: "";
			width: 100%;
			height: 75%;
			background-color: #709dca;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	// .main__header
	&__header {
		position: relative;
		z-index: 1;
		padding: 110px 0px 0px 0px;
		color: #fff;

		@media (max-width: $md3+px) {
			padding: 50px 0px 0px 0px;
		}
	}
	// .main__form
	&__form {
	}
	// .main__notebook
	&__notebook {
	}
	// .main__control
	&__control {
		// position: relative;
		// z-index: 1;
		// bottom: -20px;
		// left: 50%;
	}
	&__slider {
		position: relative;
		top: 0px;
		left: 15px;
		max-width: calc(100% - 30px);
	}
}

.header-block {
	max-width: 800px;
	margin: 0px auto 33px auto;
	text-align: center;
	// .header-block__title
	&__title {
		/* Style for "Boost up y" */
		font-family: "Roboto";
		font-size: 48px;
		line-height: 48px;
		letter-spacing: -0.88px;
		font-weight: 900;
		text-transform: uppercase;
		margin: 0px 0px 8px 0px;
	}
	// .header-block__subtitle
	&__subtitle {
		font-family: "Roboto";
		font-weight: 100;
		line-height: 20px;
		font-size: 16px;
	}
}
.form-main {
	display: flex;
	justify-content: center;
	margin: 0px auto 50px auto;
	flex-wrap: wrap;
	@media (max-width: $md3+px) {
		flex-direction: column;
	}
	// .form-main__column
	&__column {
		flex: 0 1 25%;
		padding: 0px 5px;
		position: relative;
		margin: 0px 0px 10px 0px;
		@media (max-width: $md2+px) {
			flex: 0 0 33%;
			&:nth-child(4) {
				margin: 0px auto;
			}
		}
	}
	// .form-main__input
	&__input {
		position: relative;
		color: #a9a9a9;
		&_bd {
			border: 1px solid transparent;
		}
		&.focus {
			color: #000;
		}
	}
	&__icon {
		position: absolute;
		top: 50%;
		left: 18px;
		width: 16px;
		height: 13px;
		transform: translate(0px, -50%);
	}
	&__btn {
		/* Style for "Request a" */
		color: #ffffff;
		font-size: 14px;
		text-transform: uppercase;
		background-color: #ffbb42;
		line-height: 46px;
		padding: 0px 45px;
		@media (max-width: $md1+px) {
			width: 100%;
		}
		@media (max-width: $md3+px) {
		}
		&:hover {
			box-shadow: 0 0 3px #fda000;
			background-color: #fda000;
		}
	}
}

// .notebook {
// 	// width: 650px;
// 	// height: 345px;
// 	margin: 0px auto;
// 	@media (max-width: $md3+px) {
// 		// width: 450px;
// 		// height: 241.5px;
// 	}
// 	@media (max-width: $md4+px) {
// 		// width: 310px;
// 		// height: 160px;
// 	}
// 	// .notebook__bg
// 	&__bg {
// 		position: absolute;
// 		width: 100%;
// 		height: 100%;
// 		top: 0;
// 		left: 0;
// 	}
// 	// .notebook__slider
// 	&__slider {
// 		margin: 0px auto;
// 		width: 100%;
// 		height: 600px;
// 		position: relative;

// 		// top: 18px;
// 		@media (max-width: $md3+px) {
// 			// width: 311.5px;
// 			// height: 184.8px;
// 			// top: 13px;
// 		}
// 		@media (max-width: $md4+px) {
// 			// width: 220px;
// 			// height: 132px;
// 			// top: 7px;
// 		}
// 	}
// }

.slider-main {
	outline: 10px solid #ffbb42;
	// .slider-main__slide
	&__slide {
		height: 600px;
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
		@media (max-width: $md3+px) {
			height: 450px;
		}
		@media (max-width: 425px) {
			height: 300px;
		}
	}
}

.slick-dots {
	position: absolute;
	bottom: -50px;
	left: 50%;
	display: flex;
	transform: translate(-50%, 0px);
	@media (max-width: $md3+px) {
		bottom: -40px;
	}

	li {
		margin: 0px 10px 0px 0px;

		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		&.slick-active {
			button {
				background-color: #ffbb42;
			}
		}
	}
}

/* Элемент точки */
.slick-dots li button {
	font-size: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #dedfe0;
	background-color: #fff;
}
//=================// .page__service============================================================

.service {
	// .service__container
	&__container {
	}
	// .service__header
	&__header {
	}
	// .service__body
	&__body {
		@media (max-width: $md3+px) {
			padding: 0px 50px;
		}
	}
	// .service__row
	&__row {
		display: flex;
		margin: 0px -32px;
		flex-wrap: wrap;
	}
	// .service__column
	&__column {
		padding: 0px 32px;
		flex: 0 1 50%;
		margin: 0px 0px 79px 0px;
		@media (max-width: $md1+px) {
			margin: 0px 0px 50px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}
		@media (max-width: $md3+px) {
			flex: 1 1 100%;
		}
	}
	// .service__item
	&__item {
	}
}

.item-service {
	display: flex;

	@media (max-width: $md4+px) {
		flex-direction: column;
		align-items: center;
	}
	// .item-service__icon
	&__icon {
		flex: 0 0 100px;
		@media (max-width: $md1+px) {
			flex: 0 0 75px;
		}
		@media (max-width: $md4+px) {
			flex: 0 0 60px;
		}
	}
	// .item-service__text
	&__text {
		flex: 1 1 auto;
		@media (max-width: $md4+px) {
			text-align: center;
		}
	}
	// .item-service__title
	&__title {
		/* Style for "Font-Aweso" */
		color: #394b50;
		font-family: Lato;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0px 0px 21px 0px;
		@media (max-width: $md4+px) {
			margin: 0px 0px 14px 0px;
		}
	}
	// .item-service__subtitle
	&__subtitle {
		/* Style for "Lorem Ipsu" */
		color: #7b7b7b;
		font-size: 13px;
		line-height: 22px;
	}
}
//=================//about us==========================================================

.about {
	background-color: #ffc155;
	@media (max-width: $md3+px) {
		background: url("../img/about/bg.jpg") 0 0 no-repeat;
	}
	// .about__container
	&__container {
	}
	// .about__row
	&__row {
		display: flex;
		@media (max-width: $md3+px) {
			display: block;
		}
	}
	// .about__column
	&__column {
		flex: 0 0 50%;
		position: relative;
		img {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
		}
	}
	// .about__item
	&__item {
	}
	&__picture {
		height: 100%;
	}
}

.item-about {
	color: #ffffff;
	padding: 80px 0px 80px 80px;
	@media (max-width: $md3+px) {
		text-align: center;
		padding: 70px;
		&:before {
			content: "";
			background-color: #ffc155be;
			width: 90%;
			height: 90%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	@media (max-width: 375px) {
		padding: 50px 20px 40px 20px;
	}
	// .item-about__title
	&__title {
		/* Style for "ABout us" */
		font-family: "Gotham";
		font-size: 30px;
		font-weight: 900;
		line-height: 22px;
		text-transform: uppercase;
		/* Text style for "ABout us" */
		letter-spacing: -0.75px;
		margin: 0px 0px 27px 0px;
		position: relative;
		z-index: 2;
		@media (max-width: $md3+px) {
			margin: 0px 0px 15px 0px;
		}
	}
	// .item-about__subtitle
	&__subtitle {
		/* Style for "Lorem Ipsu" */
		font-size: 21px;
		line-height: 1.5;
		font-weight: 300;
		margin: 0px 0px 33px 0px;
		position: relative;
		z-index: 2;
		@media (max-width: $md3+px) {
			margin: 0px 0px 15px 0px;
		}
	}
	// .item-about__link
	&__link {
		display: inline-block;
		border: 1px solid #e7ad48;
		padding: 0px 33px;
		/* Style for "Read more" */
		color: #ffffff;
		font-family: Lato;
		font-size: 14px;
		text-transform: uppercase;
		line-height: 46px;
		position: relative;
		z-index: 2;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #fff;
			color: #e7ad48;
		}
	}
}

//=================//price==========================================================

.price {
	background-color: #e7edf3;
	padding: 137px 0 194px 0;
	@media (max-width: $md3+px) {
		padding: 50px 0px;
	}
	// .price__container
	&__container {
	}
	// .price__header
	&__header {
		@media (max-width: $md3+px) {
			margin: 0px 0px 40px 0px;
		}
	}
	// .price__row
	&__row {
		display: flex;
		@media (max-width: $md3+px) {
			flex-wrap: wrap;
		}
	}
	// .price__column
	&__column {
		flex: 0 0 33%;
		@media (max-width: $md3+px) {
			flex: 0 1 100%;
			margin: 0px 0px 15px 0px;
		}
	}
	// .price__item
	&__item {
		padding: 57px 31px 48px 31px;
		border: 1px solid #ccd5df;
	}
}

.item-price {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	position: relative;
	&:before {
		content: "";
		transition: all 0.4s ease 0s;
		height: 100%;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
	}
	@media (min-width: $md2+px) {
		&:hover {
			&:before {
				width: 110%;
				height: 110%;
				background-color: #709dca;
				top: -5%;
				left: -5%;
				z-index: 1;
				visibility: visible;
				opacity: 1;
			}
			div,
			p,
			span {
				color: #fff;
			}
		}
	}

	// .item-price__title
	&__title {
		flex: 0 0 60px;
		/* Style for "Basic plan" */
		color: #818b95;
		font-family: Lato;
		font-size: 25px;
		line-height: 27px;
		font-weight: 300;
		text-transform: uppercase;
		position: relative;
		z-index: 2;
		text-align: center;
	}
	// .item-price__body
	&__body {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		text-align: center;
		margin: 0px 0px 35px 0px;
		position: relative;
		z-index: 2;
	}
	// .item-price__price
	&__price {
		flex: 0 0 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: Lato;
		margin: 0px 0px 50px 0px;
	}
	// .item-price__numb
	&__numb {
		font-weight: 900px;
		font-size: 60px;
		color: #ffbb42;
		&_fz {
			font-size: 25px;
			text-transform: uppercase;
		}
		sup {
			font-size: 30px;
		}
	}
	// .item-price__span
	&__span {
		font-size: 20px;
		font-weight: 300;
		color: #818b95;
	}
	// .item-price__advantage
	&__advantage {
	}
	// .item-price__p
	&__p {
		/* Style for "1 Account" */
		color: #b5bbc1;
		font-family: Lato;
		font-size: 14px;
		line-height: 16px;
		text-transform: uppercase;
		margin: 0px 0px 28px 0px;
		position: relative;

		&:before {
			content: "";
			width: 100%;
			height: 1px;
			background-color: #e2e9f0;
			position: absolute;
			top: -16px;
			left: 0;
		}
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	// .item-price__link
	&__link {
		/* Style for "Get Starte" */
		display: inline-block;
		margin: 0px auto;
		color: #ffffff;
		font-family: Lato;
		font-size: 14px;
		text-transform: uppercase;
		background-color: #ffbb42;
		padding: 0px 21px;
		line-height: 42px;
		position: relative;
		z-index: 2;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #fff;
			color: #ffbb42;
			outline: 1px solid #ffbb42;
		}
	}
}

//=================//step==========================================================

.step {
	padding: 155px 0px 149px 0px;
	text-align: center;
	// .step__container
	&__container {
	}
	// .step__header
	&__header {
		margin: 0px auto 70px auto;
		line-height: 24px;
	}
	// .step__row
	&__row {
		display: flex;
		margin: 0px -44px 91px -44px;
		@media (max-width: $md2+px) {
			margin: 0px -22px 91px -22px;
		}
		@media (max-width: $md3+px) {
			flex-direction: column;
			padding: 0px 100px;
			align-items: center;
		}
		@media (max-width: 600px) {
			padding: 0px 5px;
			max-width: 320px;
			margin: 0px auto 70px auto;
		}
	}
	// .step__column
	&__column {
		flex: 0 0 25%;
		padding: 0px 44px;
		text-align: center;
		position: relative;
		&:before {
			content: "";
			background: url("../img/icon/step/arrow.png") 0 0 no-repeat;
			position: absolute;
			top: -18px;
			right: -64px;
			width: 128px;
			height: 33px;
		}
		&:last-child {
			&:before {
				display: none;
			}
		}
		&:nth-child(2) {
			&:before {
				transform: rotate(-180deg);
				top: 70px;
			}
		}
		@media (max-width: $md2+px) {
			padding: 0px 22px;
		}
		@media (max-width: $md3+px) {
			margin: 0px 0px 60px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
			max-width: 310px;
			padding: 0px;
			&:before {
				display: none;
			}
		}
	}
	// .step__item
	&__item {
	}
	// .step__link
	&__link {
		/* Style for "Get start" */
		display: inline-block;
		margin: 0px auto;
		color: #ffffff;
		font-family: Lato;
		font-size: 14px;
		text-transform: uppercase;
		background-color: #ffbb42;
		line-height: 46px;
		padding: 0px 28px;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #fff;
			outline: 1px solid #ffbb42;

			color: #ffbb42;
			box-shadow: 0 0 15px #ffbb42;
		}
	}
	@media (max-width: $md2+px) {
		padding: 155px 22px 0px 22px;
		margin: 0px 0px 88px 0px;
	}
	@media (max-width: $md3+px) {
		padding: 85px 22px 0px 22px;
		margin: 0px 0px 88px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	@media (max-width: 320px) {
		&:before {
		}
	}
}

.item-step {
	display: flex;
	flex-direction: column;

	// .item-step__icon
	&__icon {
		flex: 0 0 100px;
		position: relative;
		margin: 0px 0px 50px 0px;
		img {
			height: 75px;
		}
		@media (max-width: $md3+px) {
			flex: 0 0 50px;
			text-align-last: center;
			margin: 0px 0px 20px 0px;
			img {
				height: 50px;
			}
		}
	}
	// .item-step__text
	&__text {
		flex: 1 1 auto;
	}
	// .item-step__title
	&__title {
		/* Style for "Step 4" */
		color: #394b50;
		font-family: Lato;
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0px 0px 28px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 10px 0px;
		}
	}
	// .item-step__subtitle
	&__subtitle {
		/* Style for "Lorem Ipsu" */
		color: #7b7b7b;
		font-size: 13px;
		line-height: 22px;
	}
}

//=================//__feedback==========================================================

.feedback {
	background-color: #ffc155;
	padding: 160px 0px 140px 0px;
	@media (max-width: $md3+px) {
		padding: 80px 0px 70px 0px;
	}
	// .feedback__container
	&__container {
	}
	// .feedback__header
	&__header {
		color: #fff;
	}
	// .feedback__row
	&__row {
		display: flex;
		margin: 0px -10px;
		flex-wrap: wrap;
		justify-content: center;
	}
	// .feedback__column
	&__column {
		flex: 0 0 50%;
		padding: 0px 10px;
		margin: 0px 0px 20px 0px;
		&:last-child {
			// margin: 0px 0px 0px 0px;
		}
		@media (max-width: $md3+px) {
			flex: 0 0 100%;
		}
	}
	// .feedback__item
	&__item {
	}
}

.item-feedback {
	// .item-feedback__photo
	display: flex;
	height: 100%;
	background-color: #fff;
	padding: 45px 10px 50px 30px;
	@media (max-width: $md2+px) {
		padding: 25px 10px;
	}
	@media (max-width: 375px) {
		flex-direction: column;
		align-items: center;
		text-align: justify;
	}
	&__photo {
		flex: 0 0 112px;
		height: 112px;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		@media (max-width: 375px) {
			height: 112px;
			width: 112px;
			margin: 0px 0px 20px 0px;
		}
	}
	// .item-feedback__text
	&__text {
		padding: 0px 30px;
		display: flex;
		flex-direction: column;
		/* Style for "Lorem Ipsu" */
		@media (max-width: $md2+px) {
			padding: 0px 10px;
		}
	}
	// .item-feedback__feedback
	&__feedback {
		flex: 1 1 100%;
		color: #7b7b7b;
		font-family: "Open Sans";
		font-size: 13px;
		line-height: 22px;
		margin: 0px 0px 29px 0px;
		position: relative;
	}
	&__open {
		position: absolute;
		top: 0;
		left: -10px;
	}
	// .item-feedback__span
	&__span {
	}
	// .item-feedback__close
	&__close {
	}
	// .item-feedback__name
	&__name {
		flex: 0 0 20px;
		/* Style for "Darwin Mic" */
		font-family: Lato;
		font-size: 14px;
		text-transform: uppercase;
		color: #394b50;
		span {
			color: #f6772c;
		}
	}
}

// ===========================subscribe===============================
.subscribe {
	padding-top: 150px;
	@media (max-width: $md3+px) {
		padding-top: 75px;
	}
	// .subscribe__container
	&__container {
	}
	// .subscribe__header
	&__header {
	}
	// .subscribe__form
	&__form {
	}
	// .subscribe__map
	&__map {
		// padding: 40px 0px 150px 0px;
		position: relative;
	}
	// .subscribe__adress
	&__adress {
		/* Style for "Shape 4" */
		padding: 40px 0px 150px 0px;
		margin: 0px auto;
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 600px;
		width: 100%;

		img {
			max-width: 100%;
		}
	}
}

.adress {
	display: flex;
	flex-direction: column;
	align-items: center;
	// .adress__body
	&__body {
		flex: 0 0 100%;
		padding: 70px;
		// height: 279px;
		border: 3px solid #ffffff;
		background-color: #394b50;
		border-radius: 50%;
		position: relative;
		z-index: 2;
		margin: 0px 0px 20px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		color: #aeb7ba;
		font-family: "Open Sans";
		font-size: 13px;
	}
	// .adress__title
	&__title {
		color: #ffffff;
		font-family: Lato;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		margin: 0px 0px 10px 0px;
	}
	// .adress__subtitlle
	&__subtitlle {
		margin: 0px 0px 10px 0px;
	}
	// .adress__phone
	&__phone {
		color: #aeb7ba;
		font-family: "Open Sans";
		font-size: 13px;
	}
	// .adress__mail
	&__mail {
		color: #ffbb42;
		margin: 0px 0px 15px 0px;
	}
	// .adress__logo
	&__logo {
		display: inline-block;
		width: 100px;
		position: relative;
		z-index: 2;
		img {
			max-width: 100%;
		}
	}
	&__fb {
		position: relative;
		&:before {
			content: "";
			background: url("../img/icon/soc_2.png") 0 0 no-repeat;
			width: 10px;
			height: 18px;
			top: -5px;
			left: 0;
			position: absolute;
		}
		span {
			margin: 0px 0px 0px 15px;
			color: #aeb7ba;
			font-family: "Open Sans";
		}
	}
}
